MAPBOX_TOKEN=your_backend_mapbox_token_here
MAPBOX_PUBLIC_TOKEN=your_frontend_public_mapbox_token_here
DATABRICKS_HOST=optional_if_model_serving_is_used
DATABRICKS_TOKEN=optional_if_model_serving_is_used
DATABRICKS_MODEL_ENDPOINT=optional_if_model_serving_is_used
