MAPBOX_TOKEN=your_mapbox_pk_token_here
DATABRICKS_AI_ENDPOINT=optional_databricks_serving_endpoint_resource
DATABRICKS_HOST=optional_if_model_serving_is_used
DATABRICKS_TOKEN=optional_if_model_serving_is_used
DATABRICKS_MODEL_ENDPOINT=optional_if_model_serving_is_used
